.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #242424;
  border-radius: 5%;
  background: white;
  width: 280px;
}
label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input {
  width: 96%;
  color: #242424;
  height: 20px;
  border-radius: 5px;
}

span {
  color: rgb(178, 3, 3);
  font-size: 12px;
}
